extend layout

block content
    div(class='container mt-3 mb-3 blog')
        h2= post.title
        h4= post.heading
        em(style='color: gray')= `Posted By ${author} on ${formatDate(post.publish_date)}`
 


        article(class='mt-5' id='blogPost')
        img(src=`data:image/jpeg;base64,${post.images[0]}` class='mb-5 mt-5 cover-img')
        - var headingIndex = 0;
        - var imgIndex = 1;
        - var quoteIndex = 0;
            each par in post.paragraphs
                p= par
                - let pWords = par.split(' ');
                each word in pWords
                    if word === '/section-heading'
                        h4(class='section-heading mb-5 mt-5')= post.section_headings[headingIndex]
                        - headingIndex += 1;
                    if word === '/img'
                        img(src=`data:image/jpeg;base64,${post.images[imgIndex]}` class='cover-img')
                        - imgIndex += 1;
                    if word === '/quote'
                        blockquote= post.quotes[quoteIndex]
                        - quoteIndex += 1;
                - par.replace('/section-heading', '');

           
        hr

        div(class='container comments-header')
            span(class='mr-4')= `${post.comments_count} Comments`
            span(class='mr-2')= post.likes_count
            a(href='/posts/post/'+post._id+'/like')
                span(class='fas fa-thumbs-up' style='font-size: 20px')
        hr

        each c in comments
            div(class='container comment')
                strong= c.username  
                p= c.content  
                em= `Posted at ${formatDate(c.publish_date)}`
                hr           

        div(class='container')
            form(method='POST' action=`/posts/post/${post._id}/comment/create`)
                label New Comment
                textarea(rows='4' columns='3' class='form-control' placeholder='Your Comment..' name='content')
                button(type='submit' class='btn btn-info mt-2') Add Comment

