extends layout

block content
    div(class='container')
        div(class='personal-info col-8 p-4')
            h3(class='mb-5') Personal Information
            form(method='post' action='/users/update')
                label Email
                input(type='email' name='email' class='form-control' value=`${user.email}` readonly)
                label Username
                input(type='text' name='username' class='form-control' value=`${user.username}` readonly)
                br
                a(href='#' class='edit-btn') Edit 
                    span(class='far fa-edit')
                button(class='btn btn-default update-btn' type='submit' style='display: none') Update
        div(class='personal-info col-8 p-4')
            h3(class='mb-5') Posted By Me
            ul(class='list-group')
                li(class='list-group-item')
                    a(href='/posts/create')
                        span(class='far fa-plus')  New Post
                each post in posts
                    li(class='list-group-item')
                        a(href=`/posts/post/${post._id}`)
                            h4= post.title
                        em= 'Posted on '+formatDate(post.publish_date)
                        a(href=`/posts/delete/${post._id}` style='float: right' title='delete' class='delete-post') 
                            span(class='far fa-window-close')